/*smartphone*/
@media (max-width: 480px){
    .first-screen{
        background-image: url(../img/first-screen-bg-mob.jpg);
    }

    .sidenav {
        padding-top: 15px;
    }
    .sidenav-nav-link {
        font-size: 18px;
    }

    .header{
        padding: 5px 0 !important;
    }

    .store-content-block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .store-content-block-item:not(:last-child){
        margin-bottom: 16px;
    }

    
}

@media (max-width: 320px){

}



/*tablets*/
@media (max-width: 768px){
    .setting-items-block{
        display: block;
        text-align: center;
    }
    .setting-items{
        justify-content: center;
    }
    .setting-items-block:first-child{
        margin-bottom: 40px;
    }
    .setting-item{
        max-width: 100%;
    }
    .setting-item:not(:last-child){
        margin-bottom: 40px;
    }
    .setting{
        padding-bottom: 50px;
    }

    .footer{
        padding: 1px 0px 0px 0px;
    }

    .footer-navs{
        display: none;
    }

    .footer-bot{
        display: block;i
    }

    .footer-logo{
        display: none;
    }

    .footer-soc{
        margin-top: 20px;
    }
}

@media (max-width: 682px){
    .header-nav-list{
        display: none;
    }
    .header-burger-btn{
        position: absolute;
        right: 0;
        display: block;
    }

    .header-btns{
        left: 20%;
    }
}



/*netbook*/
@media (max-width: 1100px){
    .about-us-content{
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .header-logo{
        background-image: url(../img/header-logo-mob.jpg);
        height: 39px;
        width: 39px;
    }

    .header-btn-cart::after, .header-btn-cart::before{
        display: none;
    }
    .header-btn{
        padding: 10px 15px;
        font-size: 12px;
    }
    .header-btns{
        width: 200px;
    }

    .header-nav-list-link:not(:last-child){
        margin-right: 10px;
    }

    .about-us-photo{
        position: absolute;
        z-index: -1;
        overflow: hidden;
    }

    .about-us-info{
        text-align: center;
        margin-left: 0;
    }

    .about-us-text{
        color: #fff;
    }

    .about-us-title{
        color: #fff;
    }
}



/*computer*/
@media (max-width: 1280px){
    .container{
        padding: 0 10px;
    }
    .header-content{
        justify-content: flex-start;
    }
    .header-logo{
        position: relative;
    }
    .header{
        padding: 16px 0;
    }
    .header-nav-list{
        margin-left: 20px;
    }
    .store-content-block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .store-content-block-item:not(:last-child){
        margin-bottom: 16px;
    }

    .navigating{
        padding-top: 40px;
    }

    .navigating-posts{
        display: block;
        align-items: center;
    }
    .navigating-post{
        margin: 0 auto;
    }
    .navigating-post:first-child{
        margin-bottom: 60px;
    }

    .magazine{
        display: block;
        padding-top: 40px;
    }

    a{
        text-decoration: none;
    }
}





